<div> 
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div ng-controller="allCountCntrl" class="dash-board">
        
        
        <div class="row">
        <!--stats number="{{farmVillageCount}}" comments="Farm Villages" colour="green" type="location-arrow" goto="dashboard.farmvillages"></stats-->
                   
                           
                               
                                <div class="col-xs-6  col-md-3">
                  <div class="circle c1 img-circle" ng-click="showFarmVillages()">
                      
                      <span class="blue price-large blue">{{farmVillageCount}}</span><br>
                     <h4 class="blue">Farm Villages</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                     
   
        <!--stats number="{{farmersCount}}" comments="Farmers" colour="green" type="user" goto="dashboard.farmers"></stats-->
                  
                           
                               
                                <div class="col-xs-6 col-md-3">
                  <div class="circle c2 img-circle" ng-click="showFarmers()">
                      
                      <span class="blue price-large blue">{{farmersCount}}</span><br>
                     <h4 class="blue">Farmers</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                              
                     
        
        
        
        
        <!--stats number="{{farmsCount}}" comments="Farm" colour="green" type="leaf" goto="dashboard.farms"></stats-->
                
                          
                               
                                <div class="col-xs-6 col-md-3">
                  <div class="circle c3 img-circle" ng-click="showFarms()">
                      
                      <span class="blue price-large blue">{{farmsCount}}</span><br>
                     <h4 class="blue">Farm</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                            
                     
        
        
        
        <!--stats number="{{devicesCount}}" comments="Mitra" colour="green" type="support" goto="dashboard.devices"></stats-->
                  
                          
                               
                                <div class="col-xs-6 col-md-3">
                  <div class="circle c4 img-circle" ng-click="showMitras()">
                      
                      <span class="blue price-large blue">{{devicesCount}}</span><br>
                     <h4 class="blue">Mitra - Devices</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                             
                     
        
        </div>
        <div class="row margin-top-10">
        
        
     <!--stats number="{{waterCount.capacity}}" details="Liters" comments="Water Available" goto="dashboard.waterAvailable"></stats-->
       
        <!--stats number="8" comments="Water Available" colour="green" type="support"></stats-->
       
                  
                            
                                
                                <div class="col-xs-6 col-md-3">
                  <svg id="fillgauge1" width="80%" height="250"></svg>
                                            <script language="JavaScript">
                                                var gauge1 = loadLiquidFillGauge("fillgauge1",5645);
                                                var config1 = liquidFillGaugeDefaultSettings();
                                                config1.circleColor = "#FF7777";
                                                config1.textColor = "#FF4444";
                                                config1.waveTextColor = "#FFAAAA";
                                                config1.waveColor = "#FFDDDD";
                                                config1.circleThickness = 0.2;
                                                config1.textVertPosition = 0.2;
                                                config1.waveAnimateTime = 1000;
                                        
                                            </script>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                             
                     
   
        
        
        
        
        
        
        <!--stats number="8" comments="Projected Water Use" colour="green" type="support" goto="dashboard.watersource"></stats-->
                   
                           
                               
                                <div class="col-xs-6 col-md-3">
                  <div class="circle c6 img-circle">
                      
                      <span class="blue price-large blue">2500</span><br>
                      <h4 class="blue">Liters</h4><br>
                     <h4 class="blue">Water Used</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                             
                     
        
        
        
        <!--stats number="8" comments="Projected Water Saved" colour="green" type="support"></stats-->
        
                   
                           
                               
                                <div class="col-xs-6 col-md-3">
                  <div class="circle c7 img-circle">
                      
                      <span class="blue price-large blue">2689</span><br>
                      <h4 class="blue">Liters</h4><br>
                     <h4 class="blue">Water Saved</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                             
                     
        
        
        <!--stats number="8" comments="Projected Profit" colour="green" type="support"></stats-->
        
                  
                       
                               
                                <div class="col-xs-6 col-md-3">
                  <div class="circle c8 img-circle">
                      
                      <span class="blue price-large blue">15%</span><br>
                    
                     <h4 class="blue">Profit</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                             
                     
        
        </div>
        
    </div>
    
     <!-- Button trigger modal -->
                            <!--button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                Launch Demo Modal
                            </button-->
                            <!-- Modal -->
                            
    
    
    <!-- /.row -->
</div>
