<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="6" comments="Farm Villages" colour="green" type="location-arrow" goto="dashboard.farmvillages"></stats>
        <stats number="12" comments="Farmers" colour="green" type="user" goto="dashboard.farmers"></stats>
        <stats number="18" comments="Farm" colour="green" type="leaf" goto="dashboard.farms"></stats>
        <stats number="8" comments="Mitra" colour="green" type="support" goto="dashboard.devices"></stats>
       
   
       
        <!--stats number="8" comments="Water Available" colour="green" type="support"></stats-->
        <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">110</div>
                                    <div>Water Available</div>
                                </div>
                            </div>
                        </div>
                        <a data-toggle="modal" data-target="#myModal">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                </div>
        </div>
        
        
        
        
        
        
        <stats number="8" comments="Projected Water Use" colour="green" type="support" goto="dashboard.watersource"></stats>
        <stats number="8" comments="Projected Water Saved" colour="green" type="support"></stats>
        <stats number="8" comments="Projected Profit" colour="green" type="support"></stats>
        
    </div>
    
     <!-- Button trigger modal -->
                            <!--button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                Launch Demo Modal
                            </button-->
                            <!-- Modal -->
                            
    
    
    <!-- /.row -->
</div>
