/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
} 

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav>li.active>a {
text-decoration: none;
background-color: #eee;
}

#page-wrapper {
    margin: 0 0 0 0px !important;
} 
/* custom css */
.panel-heading {
	min-height: 180px;
}
.panel, .panel-heading {
    border-radius: 0;
}

.panel-primary {
    border-color: #39b3d7;
}

.panel-primary > .panel-heading {
    background-color: #39b3d7;
	border-color: #39b3d7;
}


div.pvtlD3TreemapNode {
    border: solid 1px white;
    line-height: 0.95;
    overflow: hidden;
    position: absolute;
    border-radius: 6px;
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0)); 
    text-shadow: -1px -1px 2px hsla(0,0%,100%,0.25),
        -1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 1px 2px hsla(0,0%,100%,0.25),
        1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 0px 2px hsla(0,0%,100%,0.25),
        1px 0px 2px hsla(0,0%,100%,0.25);
}

.node div {
   padding: 6px 4%;
}

/* circlr */

.row{}
.circle{
  background: #ffffff;
  padding: 35px;
  text-align: center;
  height: 250px;
  width: 250px;
  border: 20px solid #F2F2F2;
    margin-top:10px;
    
    transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
 
}

.row{}
.circle-small{
    background: #ffffff none repeat scroll 0 0;
    border: 8px solid #f2f2f2;
    height: 100px;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
    width: 100px;
    
    transition: all 0.5s;
  -moz-transition: all 0.5s; /* Firefox 4 */
  -webkit-transition: all 0.5s; /* Safari and Chrome */
  -o-transition: all 0.5s; /* Opera */
 
}

.c6{
  background: #F2F2F2 !important;  
}
.c7{
  background: #F2F2F2 !important;  
}

.c8{
  background: #F2F2F2 !important;  
}
.circle h4{
  margin: 0;
  padding: 0;
}
.circle p{}
.circle span{}
.circle span.icon{
}
.circle span.icon i{
  font-size: 48px;
}
.circle span.price-large{
  font-size: 68px
}
.price-small{
  font-size: 24px 
}

.c1:hover{
   background: #ffffff;
   color: #39b3d7;
}
.c1 {
background: #39b3d7;
 color: #ffffff;
}


.c2 {
  background: #ed9c28;
  color: #ffffff;
}
.c2:hover {
  color: #ed9c28;
    background: #ffffff;
}


.c3 {
  background: #47a447;
  color: #ffffff;
}


.c3:hover {
  color: #47a447;
    background: #ffffff;
}

.c4:hover{
  color: #d2322d;
    background: #ffffff;
}
.c4 {
    background: #d2322d;
  color: #ffffff;
}

.c5 {
  color: #2E2EFE;
}
.c5:hover{
    background: #2E2EFE;
  color: #ffffff;
}

.margin-top-10 {
    margin-top:10px;
}


.pvtlD3TreemapNode {
            background: #8D6E63;
            border: 3px solid white;
        }
.pvtlD3TreemapNode div {
            margin: 0;
            padding: 15px;
        }
        .pvtlD3TreemapNode div span{
            display: block;
            margin: 10px 0;
            font-weight: bold;
        }
        .pvtlD3TreemapNode div span.area:before {
            content: 'Area:';
            display: block;
            font-weight: normal;
        }
        span.owner:before {
            content: 'Owner:';
            display: block;
            font-weight: normal;
        }
span.id:before {
            content: 'Id : ';
            display: block;
            font-weight: normal;
        }

.progress-box {
	width: 100%;
	margin: 20px 0;
}

.progress-box .percentage-cur .num {
	margin-right: 5px;
}

.progress-box .progress-bar {
	width: 100%;
	height: 12px;
	background: #f2f1f1;
	margin-bottom: 3px;
	border: 1px solid #dfdfdf;
	box-shadow: 0 0 2px #D5D4D4 inset;
  position: relative;
}

.progress-box .progress-bar .inner {
  position: relative;
	width: 0;
	height:100%;
	background: #239bd6; 
}

.progress-bar .inner {
	height: 0;
	width: 0;
	transition: all 1s ease-out;
}

.progress-bar-slider .inner {
  transition: none;
}

.progress-bar-slider .inner:after {
  content: " ";
  width: 5px;
  height: 14px;;
  background-color:#ccc;
  position: absolute;
  right: -2px;
  top: -2px;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  margin: 0px;
}

.progress-slider {
  opacity: 0;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 1;
}

