<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Farm Villages</h1>
		</div>
		<!-- /.col-lg-12 -->
		
		<div class="span12" ng-controller="DemoController">
			<h4>The sliders</h4>
			<p>You many 'pin' (and hide) either the minimum or maximum handle to prevent it from being modified, effectivly converting the slider into a single-value slider.</p>
			<p>The value of the first slider is: <strong>{{demo7.valueA}}</strong>; the second slider is <strong>{{demo7.valueB}}</strong>.</p>
			<div range-slider min="0" max="10000" model-max="demo7.valueA" pin-handle="min"></div>
			<div range-slider min="0" max="10000" model-min="demo7.valueB" pin-handle="max"></div>
		</div>
	</div>
</div>
