<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Farm Details</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
    <div class="row">
		

 
<div ng-controller="farmCntrl">
	<!--label>Search: <input ng-model="searchText"></label-->
	<div class="input-group custom-search-form">
        <input ng-model="searchText" type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>

	<!-- /.row -->
	<div class="row">
	<br />
	<div class="col-lg-3" ng-repeat="village in farms | filter:searchText">
		<a href="javascript:void(0)" data-toggle="modal" data-target="#villagemodal{{village.id}}">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-leaf fa-2x"></i>
					</div>
					<div class="col-xs-9">
						<h4>{{village.id}}</h4>
                        <h4>{{village.farmerName}}</h4>
                        <h4>{{village.farmVillageName}}</h4>
						
					</div>
				</div>
			</div>
		
		</div>
		</a>
		<!-- Modal -->
		<div class="modal fade" id="villagemodal{{village.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">{{village.id}} - {{village.farmerName}}</h4>
					</div>
					<div class="modal-body">
						<!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><Strong>Field ID:</strong></td>
                                <td>{{village.id}}</td>
                            </tr>
                            <tr>
                                <td><Strong>Field Capacity:</strong></td>
                                <td>{{village.fc}}</td>
                            </tr>
                            <tr>
                                <td><Strong>Lattitude:</strong></td>
                                <td>{{village.lattitude}}</td>
                            </tr>
                             <tr>
                                <td><Strong>Longitude:</strong></td>
                                <td>{{village.longitude}}</td>
                            </tr>
                             <tr>
                                <td><Strong>Area:</strong></td>
                                <td>{{village.area}} - {{village.farmVillageName}}</td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
					</div>
					<div class="modal-footer">
						
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</div>
	</div>
    </div>	
</div>