<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Farm Villages</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
    <div class="row">
		<div ng-controller="farmVillageCntrl">
		<!--label>Search: <input ng-model="searchText"></label-->
		<div class="input-group custom-search-form">
			<input ng-model="searchText" type="text" class="form-control" placeholder="Search...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">
					<i class="fa fa-search"></i>
				</button>
			</span>
		</div>
		<!-- /.row -->
		<div class="row"> 
			<br />
			<div class="col-lg-3" ng-repeat="village in userDetail | filter:searchText">
				<!--a href="javascript:void(0)" data-toggle="modal" data-target="#villagemodal{{village.id}}"-->
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<!--div class="col-xs-3">
								<i class="fa fa-leaf fa-2x"></i>
							</div-->
							<div class="col-xs-12">
								<h4>{{village.name}}</h4>
								<h5>{{village.location}}</h5>
								<div class="col-lg-6 col-sm-6">
								<div class="circle-small c3 img-circle">
									<span class="blue price-large blue ng-binding">{{village.noOfFarms}}</span><br>
									<h4 class="blue">Farms</h4>
							    </div>
								</div>
								<div class="col-lg-6 col-sm-6">
								<div class="circle-small c1 img-circle">
									<span class="blue price-large blue ng-binding">{{village.waterCapacity}} L</span><br>
									<h4 class="blue">Water</h4>
							    </div>
								</div>
								<!--p>No. of Farms: {{village.noOfFarms}}</p>
								<p>Water Capacity: {{village.waterCapacity}}</p-->
								<p>&nbsp;</p>
								<button ui-sref="dashboard.plan({ id: village.id })" class="btn btn-outline  btn-info" type="button">Generate Plan</button>
								<button ui-sref="dashboard.iot({ id: village.id })" class="btn btn-outline  btn-info" type="button">View Plan</button>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
    </div>	
</div>