<div ng-controller="FarmsCtrl">
 <div class="row">
        <!--stats number="{{farmVillageCount}}" comments="Farm Villages" colour="green" type="location-arrow" goto="dashboard.farmvillages"></stats-->
                   
                           
                               
                                <div class="col-xs-6  col-md-4">
                  <div class="circle c1 img-circle" ng-click="showFarmVillages()">
                      
                      <span class="blue price-large blue">{{temperature}}</span><br>
                     <h4 class="blue">Temprature</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                     
   
        <!--stats number="{{farmersCount}}" comments="Farmers" colour="green" type="user" goto="dashboard.farmers"></stats-->
                  
                           
                               
                                <div class="col-xs-6 col-md-4">
                  <div class="circle c2 img-circle" ng-click="showFarmers()">
                      
                      <span class="blue price-large blue">{{humidity}}</span><br>
                     <h4 class="blue">Humidity</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                              
                     
        
        
        
        
        <!--stats number="{{farmsCount}}" comments="Farm" colour="green" type="leaf" goto="dashboard.farms"></stats-->
                
                          
                               
                                <div class="col-xs-6 col-md-4">
                  <div class="circle c3 img-circle" ng-click="showFarms()">
                      
                      <span class="blue price-large blue">{{soilmoist}}</span><br>
                     <h4 class="blue">Soil Moisture</h4>
                    
                  </div>
              </div><!-- .col-xs-6 col-md-3 ends here -->
                                
                                
                                
                            
                     
        
                             
                     
        
        </div>   
    
</div>