<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Live Farm Details</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
    <div class="row">
		

        
	 <pvtl-d3-treemap width="800" height="600" data="farmDetails" value="farmArea" ng-class="farmArea">
            <div>
                <div ng-if="!children">
                    <span ng-class="farmArea" class="area">{{farmArea*100}}</span>
                </div>
            </div>
        </pvtl-d3-treemap>	
</div>