<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Plan</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<form ng-submit="submit($event)" id="myForm">
	<div class="row text-center" ng-controller="ChartCtrl">
		<div class="col-lg-8 center-block">
			<div class="row">
				<div class="form-group">
					<div class="checkbox">
                        {{farmCount}}
						<label ng-repeat="crops in cropPlan.children" style="margin:10px">
							<input type="checkbox" value="{{crops.id}}" checked ng-click="change($event)">{{crops.label}}
						</label>						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1 col-sm-1 text-center">
					<input id="ex4" type="text" data-slider-min="0" data-slider-max='700' data-slider-step="1" data-slider-value="700" data-slider-orientation="vertical" />
					<br /><br />
					<label>Water</label>
				</div>
				<div class="col-lg-10 col-sm-10" id="doughnut-chart" >
					 <pvtl-d3-treemap width="600" height="400" data="cropPlan" value="farmCount" ng-class="farmArea">
                        <div>
                            <div ng-if="!children">
                                <span ng-class="label" class="label">{{label}} - {{farmCount}}</span>
                            </div>
                        </div>
                    </pvtl-d3-treemap>
				</div>
				
				<div class="col-lg-1 col-sm-1">
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>Land
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Price
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	</form>
</div>
<script>
$("#ex4").slider({
	reversed : true
});
</script>